/* You can add global styles to this file, and also import other style files */
body,
main::before {
    font-family: 'Open Sans', sans-serif;
    background: url(https://images8.alphacoders.com/453/thumb-1920-453112.jpg) 0 / cover fixed;
}

main {
    margin: 60px auto;
    position: relative;
    padding: 10px 5px;
    background: hsla(0,0%,10%,.15);
    font-size: 20px;
    line-height: 1.5;
    border-radius: 10px;
    width: 45%;
    min-width: 500px;
    box-shadow: 0px 0px 10px #000;
    overflow: hidden;
}

main::before {
    content: '';
    margin: -35px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(5px);
    z-index: -1;
}